@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$primaryCyan: hsl(180, 66%, 49%);
$primaryViolet: hsl(257, 27%, 26%);
$secondaryRed: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayisViolet: hsl(257, 7%, 63%);
$darkBlue: hsl(255, 11%, 22%);
$DarkViolet: hsl(260, 8%, 14%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: $grayisViolet;
}


body{
    margin: 40px;
}

.button--decoration{
    background-color: $primaryCyan;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 700;
    &:active{
        background-color:hsla(180, 66%, 49%, 0.582);
    }
}
.button--action{
    background-color: $primaryCyan;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    &:active{
        background-color:hsla(180, 66%, 49%, 0.582);
    }
}

a{
    font-weight: 700;
    &:active{
        color: $DarkViolet;
    }

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first--nav{
    display: flex;
    align-items: center;
    gap: 35px;

}

.second--nav{
    display: flex;
    align-items: center;
    gap: 35px;

}

.header{
    display: flex;
    align-items: center;
    margin-top: 150px;
    background-color: white;    

    .image--header{
        display: flex;
        width: 50%;
        position: absolute;
        right: -60px;
        top: 150px;
    }

    .text--header{
        width: 50%;
        h1{
            color: $DarkViolet;
            font-size: 80px;
            line-height: 90px;
        }
        .button--decoration{
            margin-top: 40px;
            font-size: 22px;
            padding: 10px 30px;
        }
        p{
            font-size: 22px;
        }
    }
}
