@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

$primaryCyan: hsl(180, 66%, 49%);
$primaryViolet: hsl(257, 27%, 26%);
$secondaryRed: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayisViolet: hsl(257, 7%, 63%);
$darkBlue: hsl(255, 11%, 22%);
$DarkViolet: hsl(260, 8%, 14%);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: $grayisViolet;
    
}


body{
    max-width: 1010px;
    padding: 30px 0 30px 0;
    margin: 0 auto;
    overflow-x:hidden;
}

.button--decoration{
    background-color: $primaryCyan;
    color: white;
    white-space: nowrap;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-weight: 700;
    &:active{
        background-color:hsla(180, 66%, 49%, 0.582);
    }
}
.button--action{
    background-color: $primaryCyan;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    &:active{
        background-color:hsla(180, 66%, 49%, 0.582);
    }
}

a{
    font-weight: 700;
    &:active{
        color: $DarkViolet;
    }
    text-decoration: none;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first--nav{
    display: flex;
    align-items: center;
    gap: 35px;

}

.second--nav{
    display: flex;
    align-items: center;
    gap: 35px;

}

.header{
    display: flex;
    margin-top: 160px;
    background-color: white;

    .image--header{
        flex: 2 2 8%;
        
        svg{
            position: absolute;
            right: -93px;
            top: 121px
        }
    }
    .text--header{
        flex: 2 2 18%;
        span{
            color: $DarkViolet;
            font-size: 76px;
            line-height: 80px;
            font-weight: 900;
            word-spacing: -5px;
            
        }
        .button--decoration{
            margin-top: 40px;
            font-size: 22px;
            padding: 10px 30px;
        }
        p{
            font-size: 20px;
        }
    }
}

.sendform{
    display: flex;
    background-color: $primaryViolet;
    background-image: url('../images/bg-shorten-desktop.svg');
    width: 1010px;
    position: relative;
    top: 100px;
    height: 130px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        gap: 20px;
    }
    input{
        border-radius: 10px;
        border: none;
        width: 700px;
        &::placeholder{
            color: $gray;
            padding-left: 20px;
        }
    }
    .button--action{
        font-size: 22px;
    }
}