
$primaryCyan: hsl(180, 66%, 49%);
$primaryCyanT: hsl(180, 57%, 75%);
$primaryViolet: hsl(257, 27%, 26%);
$secondaryRed: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayisViolet: hsl(257, 7%, 63%);
$darkBlue: hsl(255, 11%, 22%);
$DarkViolet: hsl(260, 8%, 14%);
$whitegray: #f0f1f6;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: $grayisViolet;
}


body{
    overflow-x:hidden;
}


.button--decoration{
    background-color: $primaryCyan;
    color: white;
    white-space: nowrap;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-weight: 700;
    &:active{
        background-color: $primaryCyanT;
        
    }
}
.button--action{
    background-color: $primaryCyan;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    &:active{
        background-color: $primaryCyanT;
    }
    
}

.buttoncopy{
    background-color: $primaryCyan;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 32px;
    font-weight: 700;
    &--copied{
        background-color: $primaryViolet;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-weight: 700;
    }
   
}



a{
    font-weight: 700;
    &:active{
        color: $DarkViolet;
    }
    text-decoration: none;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first--nav{
    display: flex;
    align-items: center;
    gap: 35px;

}

.second--nav{
    display: flex;
    align-items: center;
    gap: 35px;

}

.sectionheader__wrapper{
    background-color: white;

}

.sectionheader{
    margin: 0 auto;
    max-width: 1110px;
    padding-top: 40px;
    padding-bottom: 200px;
}

.header{
    display: flex;
    margin-top: 160px;
    background-color: white;


    .image--header{
        flex: 2 2 8%;
        
        svg{
            position: absolute;
            right: -73px;
            top: 151px;
        }
    }
    .text--header{
        flex: 2 2 3%;
        span{
            color: $DarkViolet;
            font-size: 76px;
            line-height: 80px;
            font-weight: 700;
            word-spacing: -5px;
            letter-spacing: -2px;

        }
        .button--decoration{
            margin-top: 40px;
            font-size: 22px;
            padding: 10px 30px;
        }
        p{
            font-size: 20px;
        }
    }
}

.sectionform__wrapper{
    background-color: $whitegray;
}

.sectionform{
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.memosearch__wrapper{
    background-color: $whitegray;
}

.memoSearch{
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 20px;
    gap: 40px;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    .url{
        color: $DarkViolet;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .memoSearch__info{
        align-items: center;
        flex-direction: row;
        display: flex;
        gap: 30px;
    }
}

.sendform{
    display: flex;
    flex-direction: column;
    background-color: $primaryViolet;
    background-image: url('../images/bg-shorten-desktop.svg');
    max-width: 1110px;
    height: 140px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -70px;
    margin-bottom: -55px;
    form{
        display: flex;
        gap: 20px;
        .input{
            border-radius: 10px;
            width: 700px;
            color: $DarkViolet;
            padding-left: 20px;
            &::placeholder{
                color: $gray;
            }
            &--error{
                padding-left: 20px;
                border-radius: 10px;
    
                width: 700px;
                &::placeholder{color: red;}
                color: red;
                border: 2px solid red;
    
            }
        }
        
    }
    .button--action{
        font-size: 22px;
    }
    .inputError{
        position: absolute;
        top: 100px;
        left: 120px;
        color: red;
        font-weight: 500;
    }
    .inputError--none{
        display:none;
    }
    
}

.sectionstatistics__wrapper{
    background-color: $whitegray;
 
}

.sectionstatistics{
    margin: 0 auto;
    max-width: 1110px;
    padding-bottom: 80px;
}

.statistics__title{
    display: flex;
    color: $DarkViolet;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 40px;
    justify-content: center;
    padding: 120px 0 10px 0;
    
}

.statistics__description{
    display: flex;
    justify-content: center;
}

.statistics__cards{
    display: flex;
    background-color: $whitegray;
    padding: 100px 0px 100px 0px;
    gap: 32px;
   
}

.card{
    display: flex;
    position: relative;
    background-color: white;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    border-radius: 5px;
    padding: 0px 31px 31px 31px;
    &:not(:nth-child(1)){
        &::before{
            content: '';
            position: absolute;
            height: 10px;
            width: 31px;
            background-color: $primaryCyan;
            left: -31px;
        } 
    } &:nth-child(2){
        top: 40px;
        &::before{
            top: 120px;
        } 
    }
    &:nth-child(3){
        top: 80px;
        &::before{
            top: 80px;
        } 
    }
    
}


.card__title{
    color: $DarkViolet;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 22px;
    padding-bottom: 15px;
}

.card__text{
    font-size: 16px;
}

.card__img__container{
    display: flex;
    background-color: hsl(257deg, 27%, 26%);
    border-radius: 50%;
    padding: 25px;
    position: relative;
    top: -45px;
}

.sectionfooter__wrapper{
    background-color: $whitegray;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sectionfooter{
    display: flex;
    padding-left: 0px;
    flex-direction: column;

}

.footer__first{
    background-image: url('../images/bg-boost-desktop.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 1440px;
    height: 250px;
    background-color: $primaryViolet;
    
}

.footerfirst__title{
    color: $whitegray ;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 40px;
}

.footer__second__wrapper{
    background-color: $DarkViolet;

}

.footer__second{
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    height: 250px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    h3{
        color: $whitegray;
    }
    li{
        list-style-type: none;
    }
    a{
        font-size: 13px;
        font-weight: 500;
        &:active{
            color: $primaryCyan;
        }
    }
    .footer_socialmedia{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

}

.icon{
    &:active{
        fill: $primaryCyan;
    }
}

@media screen and (max-width: 1220px){

    .header{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
 
        .image--header svg {
            position: inherit;
        }
        .text--header{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            text-align: center;
        }
    }
    .sectionheader, .sectionform,  .sectionstatistics{
        max-width: 1000px;
    }
}

@media screen and (max-width: 1152px){
    .footer__second{
        margin-top: 40px;
        margin-bottom: 40px;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        height: auto;
        gap: 20px;
        section{
           text-align: center;
        }
    }
    .sendform form .input{
        width: 550px;
    }

    .sectionheader, .sectionform,  .sectionstatistics{
        max-width: 900px;
    }
}

@media screen and (max-width: 950px){

    .sendform form .input{
        width: 450px;
    }

    .sectionheader, .sectionform,  .sectionstatistics, .sendform{
        max-width: 750px;
    }
}

@media screen and (max-width: 800px){

    .sendform form .input{
        width: 350px;
    }

    .sectionheader, .sectionform,  .sectionstatistics, .sendform{
        max-width: 650px;
   
    }

    .header .image--header svg {
        position: absolute;
        right: -73px;
        top: 99px;
    }

    .header .text--header {
        flex: 2 2 3%;
        margin-top: 504px;
    }

    .first, .second--nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(100vw);
    }

    .statistics__cards{
        display: flex;
        flex-direction: column;
        .card{
            align-items: center;
            &:not(:nth-child(1)){
                &::before{
                    content: '';
                    position: absolute;
                    height: 31px;
                    width: 10px;
                    background-color: $primaryCyan;
                    left: 0px;
                } 
            } &:nth-child(2){
                top: 40px;
                &::before{
                    top: 120px;
                } 
            }
            &:nth-child(3){
                top: 80px;
                &::before{
                    top: 80px;
                } 
            }
        }
    }
}